main{
  width: 60%;
  margin: auto;
  background-color: white;
  z-index: 1;
  position: absolute;
  height: 150vh;
  top: 65%;
  left: 20%;
}

.logo{
  background:url('./images/FLogo.png') center no-repeat;
  margin-left: 10%;
  width: 10%;
  height: 80px;
}
